.comp-canvas {
    position: relative;
    #drawing {
        background: #f5f5f5;
    }
    .input-text {
        border: 0;
        background: transparent;
        text-align: center;
        word-wrap: normal;
        &:focus {
            outline: none;
        }
    }
}
