.input-text-wrap {
  // background: orange;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .input-text {
    border: 0;
    border: 1px dashed black;
    width: 80%;
    height: auto;
    text-align: center;
    resize: none;
    overflow:hidden;
    &:focus {
      outline: none;
    }
  }
  
}
